<h1> attribute , class and style binding </h1>
<h2> Attribute binding </h2>
<table border="1">
  <tr>
    <td [attr.colspan]="1 + 1">one-two</td>
  </tr>
  <tr>
    <td [colSpan]=" 1 + 1" >three-fpur</td>
  </tr>
  <tr>
    <td>five</td>
    <td>sixe</td>
  </tr>
</table>

<div>
  <button type="button" [attr.aria-label]="random">
    {{random}} with aria
  </button>
</div>
<hr>

<h2>styling precedence</h2>
<h3>basic spe3cificity</h3>

<div [class.speacial]="isspeacial" [class]="classexp">Some text</div>

<h3>source spe3cificity</h3>
<div>

  <comp-with-host-binding [class.special]="isspeacial"
  dirWithClassBinding></comp-with-host-binding>

</div>

<div>
  <comp-with-host-binding [style.color]="color" 
  dirWithStyleBinding>

  </comp-with-host-binding>
</div>

<h3>dyanmic and static</h3>

<div class="special" [class.special]="false"> some text</div>

<div style="border: dotted darkblue 3px;" [style]="styleexp">some text </div>


<div class="readability">
  <comp-with-host-binding dirWithHostBinding></comp-with-host-binding>
</div>

<!-- <app-my-input-with-attribute-decorator type="number"></app-my-input-with-attribute-decorator> -->
